<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} - MOPP{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        <!-- Le styles -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/login.css') }}">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon-57-precomposed.png') }}">

    </head>

    <body>

        <div class="container">
            <div class="row">

                {% spaceless %}
                    {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'danger'] %}
                    {% if app.session.flashBag is defined %}
                        {%- for alertType in alertTypeAvaillable %}
                            {%- for alert in app.session.flashBag.get(alertType) %}
                                <div class="alert alert-{{ alertType }} alert-dismissable" >
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {% if alert.title is defined %}
                                        {% if alert.title %}<strong>{{ alert.title|trans }}</strong>{% endif %}
                                        {{ alert.message|trans }}
                                    {% else %}
                                        <strong>{{ alertType|trans }}</strong>
                                        {{ alert }}
                                    {% endif %}
                                </div>
                            {%- endfor %}
                        {%- endfor %}
                    {% endif %}
                {% endspaceless %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset("js/vendor/jquery-2.0.3.min.js") }}"><\/script>')</script>

        <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ asset('js/plugins.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

    </body>
</html>
